html{
    background-color: #FFF9F7;
}
/* FONT */
@font-face {
    font-family: "valera";
    src: url("../fonts/VarelaRound-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/*HEADER*/

.header-container{
    display:grid;
    width: 100%;
    height: 50px;
    grid-template-areas: "icon comunication";
    grid-template-rows: auto;
    grid-template-columns: auto;
    margin-bottom: 50px;
    

}
.header-icon{
    padding:20px;
    grid-area:icon;
    
}  
.header-comunication{
    padding:20px;
    grid-area:comunication;
    display:grid;
    justify-content: end;
    
}

.header-comunication-container{
    padding: 5px;
    width: 15vw;
    height: 5vw;
    border-radius: 20px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1vw;
    font-family: "valera";
} 

.header-icon-icon{
    width: 4vw;
    height: 4vw;
}

/* CONTAINER*/

.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    font-family: "valera";
}
.container-title{
    padding-top:20px;
    padding-left:100px;
    padding-right: 100px;
    text-align: center;
    
}
.container-box{
    padding-top:10px;
    padding-left:100px;
    padding-right: 100px;
    padding-bottom: 10px;
    text-align: center;
}

/* CONTAINER 2*/
.container2{
    padding-left:50px;
    padding-right: 50px;
    grid-gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    width: 90%;
    grid-template-areas:"graphic graphic ui apps photo photo"
                        "graphic graphic illustration illustration motion motion"  ;
    grid-template-columns: auto;
    grid-template-rows: auto;
    
}
.container2_title_graphic{
    grid-area: graphic;
    background-color: #9A71F9;
    color:white;
    padding:10px;
    font-size: 1vw;
    font-family: "valera";
    border-radius: 10px;
    justify-content: start;
}
.container2_title_ui{
    grid-area: ui;
    background-color: #FF8750;
    color:white;
    padding:10px;
    font-size: 1vw;
    font-family: "valera";
    border-radius: 10px;
    justify-content: start;
}
.container2_title_apps{
    grid-area: apps;
    background-color: #ffa6d7;
    color:white;
    padding:10px;
    font-size: 1vw;
    font-family: "valera";
    border-radius: 10px;
    justify-content: start;
}
.container2_title_photo{
    grid-area: photo;
    background-color:  #9BF5D9;
    color:white;
    padding:10px;
    font-size: 1vw;
    font-family: "valera";
    border-radius: 10px;
    justify-content: start;
}
.container2_title_illustrations{
    grid-area: illustration;
    background-color: #FF938E;
    color:white;
    padding:10px;
    font-size: 1vw;
    font-family: "valera";
    border-radius: 10px;
    justify-content: start;
}
.container2_title_motions{
    grid-area: motion;
    background-color: #553345;
    color:white;
    padding:10px;
    font-size: 1vw;
    font-family: "valera";
    border-radius: 10px;
    justify-content: start;
}

/* CONTAINER 3*/

.container3{
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template-areas: "photo text";
    grid-template-rows: auto;
    grid-template-columns: auto;
    justify-content: center;
}
.container3_image{
    padding:30px;
    grid-area: photo;
    text-align: center;
}
.container3_photo{
    
    width: 40vw;
    height: 37vw;
    border-radius: 100%;
    
}
.container3_text{
    padding:50px;
    grid-area: text;
    display:grid;
    justify-content: center;
}
.container3_text_title{
    font-size: 2vw;
    font-family: "valera";
    text-align: center;
}
.container3_text_subtitle{
    font-size: 1.5vw;
    font-family: "valera";
    text-align: center;
}
.container3-button{
    background-color: #FF8750;
    padding: 5px;
    width: 15vw;
    height: 5vw;
    border-radius: 20px;
    color: white;
    text-align: center;
    font-size: 1vw;
    border-style: solid;
    border-color:#FF8750;
    font-family: "valera";
}
@media (max-width: 800px) {
    /* CONTAINER 3*/
    .container3{
        margin-top: 50px;
        width: 100%;
        display: grid;
        grid-template-areas:    "photo photo"
                                "text text";
        grid-template-rows: auto;
        grid-template-columns: auto;
        justify-content: center;
    }
    .container3_image{
        padding-top:10px;
        padding-left:20px;
        padding-left:20px;
        grid-area: photo;
        justify-content: center;
    }
    .container3_text_button{
        padding-top: 10px;
        text-align: center;
    }
    .container3_text{
        padding-top:10px;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 40px;
        grid-area: text;
        display:grid;
        justify-content: center;
    }


}

/*CONTAINER 4*/
.container4{
    background-color: black;
    margin:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
}
.container4_title{
    background-color: black;
    padding-top:10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom:10px;
    color: white;
    font-size: 3vw;
    font-family: "valera";
    text-align: center;
}
.container4_subtitle{
    background-color: black;
    padding-top:10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom:5px;
    color: white;
    font-size: 2vw;
    font-family: "valera";
    text-align: center;
}
.container4_container{
    background-color: black;
    padding-top:10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom:10px;
    color: white;
    font-size: 1.5vw;
    font-family: "valera";
}
.container4_button{
    background-color: #FF8750;
    padding: 5px;
    width: 15vw;
    height: 5vw;
    border-radius: 20px;
    color: white;
    text-align: center;
    font-size: 1vw;
    border-style: solid;
    border-color:#FF8750;
    font-family: "valera";
    
}

/*FOOTER*/

.footer-container{
    display:grid;
    width: 100%;
    height: 20px;
    grid-template-areas: "icon comunication";
    grid-template-rows: auto;
    grid-template-columns: auto;
    margin-bottom: 50px;
    

}
.footer-icon{
    padding:20px;
    grid-area:icon;
}  
.footer-comunication{
    padding-top:20px;
    padding-left: 20px;
    padding-right: 20px;
    grid-area:comunication;
    display:grid;
    justify-content: end;
    
}

.footer-comunication-container{
    padding: 5px;
    width: 15vw;
    height: 5vw;
    border-radius: 20px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1vw;
} 

.footer-icon-icon{
    width: 4vw;
    height: 4vw;
}
